	<title>Pontinotas - Ficha Académica UC en PDF</title>
	<meta charset="utf-8">
	<meta name="description" content="Ficha Academica UC en PDF. Por Antonio Ossa">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=devide-width, initial-scale=1">
	<link rel="author" href="https://github.com/aaossa"/>