<!DOCTYPE html>
<html>

<head>
	<%_ include ../partials/head.ejs %>
</head>

<body>

	<h1>Ponti<span>Notas</span></h1>

	<p>Ingresa tus datos para generar un .pdf similar al que existía antes en el PortalUC</p>

	<form method="POST" action="/pdf">
		<input name="user" type="text" placeholder="Usuario UC">
		<input name="pass" type="password" placeholder="Clave">
		<input type="submit" value="Generar PDF">
	</form>

	<p>Todo el código está disponible en <a href="https://github.com/aaossa/PontiNotas"><span>GitHub</span></a></p>
</body>

</html>